<!DOCTYPE html>
<html style="margin:0 auto">
    <head>
        <title>Vue SSR</title>
        <meta charset="utf-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="referrer" content="always">
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
        <meta name="format-detection" content="telephone=no,address=no"/>
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    
    </head>

<body>
<div id="pageWrap" class="wrapper"><%- body %></div>
</body>

</html>